.nav-container
  %nav.nav.nav-1.scrolled
    %a.logo{:href => "index.html"}
      %span DANIELLE &amp; MICAH
    %ul.menu
      %li
        %a{:href => "#home"} Home
      %li
        %a{:href => "#about-us"} About Us
      %li
        %a{:href => "#wedding-reception"} Wedding & Reception
      %li
        %a{:href => "#registry"} Registry
      %li
        %a{:href => "#rsvp"} RSVP
    .mobile-toggle
      .line-1
      .line-2
      .line-3
.main-container
  %a#home.in-page-link
  %section.header.header-1.fullscreen.overlay
    .background-image-holder
      = image_tag("hero1.jpg", alt: "background image", class: "background-image")

    .container
      .row
        .col-sm-12.text-center
          %h1
            DANIELLE
            %br
            &amp;
            %br
            MICAH
          %h6 May 21st 2016
  %a#about-us.in-page-link
  %section.story.story-1
    .container
      .row
        .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.text-center
          %h2
            Join Danielle &amp; Micah
            %br
            to celebrate their union.
          %h6 A little about the bride and groom.
      .row
        .col-md-4.col-md-offset-2.col-sm-6.feature
          = image_tag("tall2.jpg", alt: "Danielle Session")
          %p
            This guy is my biggest cheerleader; always telling me the impossible is possible. My dreams are his dreams. He's there to catch every falling tear. He keeps my heart vibrant and I over love him. Micah, you are my best friend and I can't wait to become your wife.
        .col-md-4.col-sm-6.feature
          = image_tag("tall1.jpg", alt: "Micah Cooper")
          %p
            I've never loved anyone the way I love you. It's a love that grows with time. You show me compassion, thoughtfullness, compelling stubborness, and beautiful intellegence that fills a hole I didn't know I had&#59; and now can't live without.
  %a#wedding-reception.in-page-link
  %section.accom.accom-1.overlay
    .background-image-holder.parallax
      = image_tag("hero2.jpg", alt: "background image", class: "background-image")
    .container#reception
      .row
        .col-sm-12.text-center
          %h6 Ceremony &amp; Reception
          %h1 Club Continental
          %p
            2143 Astor St
            %br
            Orange Park, FL 32073

          %a.btn.btn-white{:href => "#rsvp"} RSVP
  %a#registry.in-page-link
  %section.registry.registry-1
    .container
      .row
        .col-sm-12.text-center
          %h2 Give the gift of presents

      .row
        .col-md-4.col-sm-6.text-center
          = link_to "http://www.target.com/gift-registry/giftgiver?registryId=eo-WHWmB6HP05GSugg0qXw&registryType=WEDDING", target: :blank do
            = image_tag("target.png")
        .col-md-4.col-sm-6.text-center
          = link_to "http://www.amazon.com/registry/wedding/15OP7Z23DDHJ7", target: :blank do
            = image_tag("amazon.png")
        .col-md-4.col-sm-6.text-center
          = link_to "https://www.rei.com/GiftRegistryDetails/GR128468942", target: :blank do
            = image_tag("rei.png")

  %section.story.story-4
    .container
      .row
        .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.text-center
          .image-slider
            %ul.slides
              %li= image_tag("small1.jpg")
              %li= image_tag("small2.jpg")
              %li= image_tag("small3.jpg")
      .row
        .col-md-6.col-md-offset-3.col-sm-10.col-sm-offset-1.text-center
          %h2 It started with a stroke of a key.
          %p
            I guess you could call this a typical "boy meets girl online" story but with a twist (not really)! Girl sends boy a message. Boy replies with interest. Girl gives boy phone number. Months later, after many adventures, the two fall madly in love.
  %a#rsvp.in-page-link
  %section.rsvp.rsvp-2#reservation
    .container
      .row
        .col-sm-12.text-center
          %h1 Say you'll be there
          %p
            Please let us know if you can make it by
            %br
            March 1st at the latest, please!

          %h2 Please Note:
          %dl
            %dt This is an ADULT ONLY affair
            %dd

            %dt Wedding is unplugged
            %dd Please put away any phones and cameras until after the first dance.
      .row
        .col-sm-12.text-center
          .form-wrapper
            - if flash.any?
              .alert
                = flash.alert
            = form_for(reservation, class: :form_email) do |f|
              Please RSVP each person separately.
              .form-section
                = f.text_field :name, placeholder: "Name", class: "validate-required", required: true
                .radio-group
                  .radio-holder.btn.checked
                    %span Can't Wait
                    %input{:checked => "checked", :name => "attending", :type => "radio", :value => "true"}
                  .radio-holder.btn
                    %span Can't Come
                    %input{:name => "attending", :type => "radio", :value => "false"}
              .form-section
                %h6
                  Meal Preference
                  %br
                  Baked Tilapia includes crab meat
                  %br
                  Beef Prime Rib is medium rare (pink middle)
                .radio-group
                  .radio-holder.naked.checked
                    %span Baked Tilapia
                    %input{:name => "meal_preference", :type => "radio", :value => "fish"}
                  .radio-holder.naked
                    %span Beef Prime Rib
                    %input{:name => "meal_preference", :type => "radio", :value => "beef"}
              .form-section
                %h6 Contact (for a reminder)
                = f.text_field :email, placeholder: :email
                = f.text_field :phone, placeholder: :phone
              %input{:type => "submit", :value => "RSVP"}
                .form-error
                  %span Please fill out all fields
                .form-success
                  %span Thanks for your RSVP!
