#thanks.main-container
  %section.registry.registry-1
    .container
      .row
        .col-sm-12.text-center
          %h1 Thank you for RSVP-ing.

      .row
        .col-sm-12.text-center
          %h4 See where we're registered
          %div(style="height:30px;")
      .row
        .col-md-4.col-sm-6.text-center
          = link_to "http://www.target.com/gift-registry/giftgiver?registryId=eo-WHWmB6HP05GSugg0qXw&registryType=WEDDING", target: :blank do
            = image_tag("target.png")
        .col-md-4.col-sm-6.text-center
          = link_to "http://www.amazon.com/registry/wedding/15OP7Z23DDHJ7", target: :blank do
            = image_tag("amazon.png")
        .col-md-4.col-sm-6.text-center
          = link_to "https://www.rei.com/GiftRegistryDetails/GR128468942", target: :blank do
            = image_tag("rei.png")
